@import '../variables.css';

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 4px;
  }
  
  .pagination button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    min-width: 32px;
    padding: 4px 8px;
    transition: all 0.3s;
  }
  
  .pagination button:hover {
    background-color: #f1f1f1;
    border-color: #ccc;
  }
  
  .pagination button.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
  }
  
  .pagination button:focus {
    outline: none;
  }
  
  .page-size-select {
    margin-left: 16px;
  }
  
  .page-size-select select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
  }
  