@import '../variables.css';

.input[type="text"],
.input[type="email"],
.textarea {
  border: thin solid var(--light-text-color);
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

.textarea {
  font-family: inherit;
  resize: none;
}

.button,
.input[type="submit"],
.input[type="reset"] {
  border: thin solid var(text-color);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #eee;
  color: var(text-color);;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}