@import '../variables.css';

.header {
  padding-left: 30px;
  width: 100%; /* Asegura que el header ocupe todo el ancho disponible */
  display: flex;
  align-items: center;
}

.title {
  color: var(--primary-color);
  font-family: var(--font-primary);
  font-size: 20px;
}