@import '../variables.css';

.table-container {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}
  

thead th {
    position: sticky;
    top: 0; /* Ajusta este valor si tienes un margen o un encabezado fijo en la parte superior de la página */
    background-color: white; /* Ajusta el color de fondo según tus necesidades */
    z-index: 1;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-family: var(--font-primary);
    border-top: 1px solid var(--light-lines); /* Agrega un borde derecho a las celdas */
}

.th{
    text-align: center;
    padding: 1rem;
    border-bottom: thin solid var(--light-lines);
    border-right: 1px solid var(--light-lines); /* Agrega un borde derecho a las celdas */
    border-left: 1px solid var(--light-lines);  /* Agrega un borde izquierdo a las celdas */
    color: var(--text-dark-color);
    font-size: 14px;
}

.td {
    text-align: center;
    padding: 1rem;
    border-bottom: thin solid var(--light-lines);
    border-right: 1px solid var(--light-lines); /* Agrega un borde derecho a las celdas */
    border-left: 1px solid var(--light-lines);  /* Agrega un borde izquierdo a las celdas */
    color: var(--text-dark-color);
    font-size: 14px;
}

.action-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    margin-left: 10px;
    background-color: var(--background-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: var(--font-primary);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}
  
.action-button:hover {
    background-color: var(--accent-color);
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
}